<%= form_tag(test_path, :remote => true) do %>
<%= text_field_tag :website, "https://www.google.com" %>
<%= submit_tag "watch header and DOM" %>
<% end %>
<div>
	<table>
		<tr id="http_header">
		</tr>
	</table>
</div>
<div id="dom"></div>
